html, body {
    overflow-x: hidden;
    touch-action: pan-y;
    position: relative;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    text-align: center;
}

#fork-corner {
    z-index: 105;
}

.fork-corner + div {
    width: $default-corner-size;
    height: $default-corner-size;
    z-index: 100;
}

/** || fork corner sizes **/
.fork-corner {
    // small corner size
    &.fc-size-small {
        // top right controller - small
        &.fc-pos-tr {
            top: $small-corner-size/12;
            right: $small-corner-size/12;
            position: absolute;
            & + div {
                top: ($small-corner-size/2) - $small-corner-size;
                right: ($small-corner-size/2) - $small-corner-size;
                position: absolute;
            }
        }
        // top right controller - small - sticky
        &.fc-pos-tr-sticky {
            top: $small-corner-size/12;
            right: $small-corner-size/12;
            position: fixed;
            & + div {
                top: ($small-corner-size/2) - $small-corner-size;
                right: ($small-corner-size/2) - $small-corner-size;
                position: fixed;
            }
        }
        // top left controller - small
        &.fc-pos-tl {
            top: $small-corner-size/12;
            left: $small-corner-size/12;
            position: absolute;
            & + div {
                top: ($small-corner-size/2) - $small-corner-size;
                left: ($small-corner-size/2) - $small-corner-size;
                position: absolute;
            }
        }
        // top left controller - small - sticky
        &.fc-pos-tl-sticky {
            top: $small-corner-size/12;
            left: $small-corner-size/12;
            position: fixed;
            & + div {
                top: ($small-corner-size/2) - $small-corner-size;
                left: ($small-corner-size/2) - $small-corner-size;
                position: fixed;
            }
        }
        // bottom right controller - small
        &.fc-pos-br {
            bottom: $small-corner-size/12;
            right: $small-corner-size/12;
            position: fixed;
            & + div {
                bottom: ($small-corner-size/2) - $small-corner-size;
                right: ($small-corner-size/2) - $small-corner-size;
                position: fixed;
            }
        }
        // bottom left controller - small
        &.fc-pos-bl {
            bottom: $small-corner-size/12;
            left: $small-corner-size/12;
            position: fixed;
            & + div {
                bottom: ($small-corner-size/2) - $small-corner-size;
                left: ($small-corner-size/2) - $small-corner-size;
                position: fixed;
            }
        }
        // corner theme
        &.fc-theme-git > i,
        &.fc-theme-github > i,
        &.fc-theme-gitlab > i,
        &.fc-theme-bitbucket > i {
            font-size: $small-corner-size/4;
        }
        // corner element
        & + div {
            width: $small-corner-size;
            height: $small-corner-size;
        }
    }
    // medium corner size
    &.fc-size-medium {
        // top right controller - medium
        &.fc-pos-tr {
            top: $medium-corner-size/12;
            right: $medium-corner-size/12;
            position: absolute;
            & + div {
                top: ($medium-corner-size/2) - $medium-corner-size;
                right: ($medium-corner-size/2) - $medium-corner-size;
                position: absolute;
            }
        }
        // top right controller - medium - sticky
        &.fc-pos-tr-sticky {
            top: $medium-corner-size/12;
            right: $medium-corner-size/12;
            position: fixed;
            & + div {
                top: ($medium-corner-size/2) - $medium-corner-size;
                right: ($medium-corner-size/2) - $medium-corner-size;
                position: fixed;
            }
        }
        // top left controller - medium
        &.fc-pos-tl {
            top: $medium-corner-size/12;
            left: $medium-corner-size/12;
            position: absolute;
            & + div {
                top: ($medium-corner-size/2) - $medium-corner-size;
                left: ($medium-corner-size/2) - $medium-corner-size;
                position: absolute;
            }
        }
        // top left controller - medium - sticky
        &.fc-pos-tl-sticky {
            top: $medium-corner-size/12;
            left: $medium-corner-size/12;
            position: fixed;
            & + div {
                top: ($medium-corner-size/2) - $medium-corner-size;
                left: ($medium-corner-size/2) - $medium-corner-size;
                position: fixed;
            }
        }
        // bottom right controller - medium
        &.fc-pos-br {
            bottom: $medium-corner-size/12;
            right: $medium-corner-size/12;
            position: fixed;
            & + div {
                bottom: ($medium-corner-size/2) - $medium-corner-size;
                right: ($medium-corner-size/2) - $medium-corner-size;
                position: fixed;
            }
        }
        // bottom left controller - medium
        &.fc-pos-bl {
            bottom: $medium-corner-size/12;
            left: $medium-corner-size/12;
            position: fixed;
            & + div {
                bottom: ($medium-corner-size/2) - $medium-corner-size;
                left: ($medium-corner-size/2) - $medium-corner-size;
                position: fixed;
            }
        }
        // corner theme
        &.fc-theme-git > i,
        &.fc-theme-github > i,
        &.fc-theme-gitlab > i,
        &.fc-theme-bitbucket > i {
            font-size: $medium-corner-size/4;
        }
        // corner element
        & + div {
            width: $medium-corner-size;
            height: $medium-corner-size;
        }
    }
    // large corner size
    &.fc-size-large {
        // top right controller - large
        &.fc-pos-tr {
            top: $large-corner-size/12;
            right: $large-corner-size/12;
            position: absolute;
            & + div {
                top: ($large-corner-size/2) - $large-corner-size;
                right: ($large-corner-size/2) - $large-corner-size;
                position: absolute;
            }
        }
        // top right controller - large - sticky
        &.fc-pos-tr-sticky {
            top: $large-corner-size/12;
            right: $large-corner-size/12;
            position: fixed;
            & + div {
                top: ($large-corner-size/2) - $large-corner-size;
                right: ($large-corner-size/2) - $large-corner-size;
                position: fixed;
            }
        }
        // top left controller - large
        &.fc-pos-tl {
            top: $large-corner-size/12;
            left: $large-corner-size/12;
            position: absolute;
            & + div {
                top: ($large-corner-size/2) - $large-corner-size;
                left: ($large-corner-size/2) - $large-corner-size;
                position: absolute;
            }
        }
        // top left controller - large - sticky
        &.fc-pos-tl-sticky {
            top: $large-corner-size/12;
            left: $large-corner-size/12;
            position: fixed;
            & + div {
                top: ($large-corner-size/2) - $large-corner-size;
                left: ($large-corner-size/2) - $large-corner-size;
                position: fixed;
            }
        }
        // bottom right controller - large
        &.fc-pos-br {
            bottom: $large-corner-size/12;
            right: $large-corner-size/12;
            position: fixed;
            & + div {
                bottom: ($large-corner-size/2) - $large-corner-size;
                right: ($large-corner-size/2) - $large-corner-size;
                position: fixed;
            }
        }
        // bottom left controller - large
        &.fc-pos-bl {
            bottom: $large-corner-size/12;
            left: $large-corner-size/12;
            position: fixed;
            & + div {
                bottom: ($large-corner-size/2) - $large-corner-size;
                left: ($large-corner-size/2) - $large-corner-size;
                position: fixed;
            }
        }
        // corner theme
        &.fc-theme-git > i,
        &.fc-theme-github > i,
        &.fc-theme-gitlab > i,
        &.fc-theme-bitbucket > i {
            font-size: $large-corner-size/4;
        }
        // corner element
        & + div {
            width: $large-corner-size;
            height: $large-corner-size;
        }
    }
}

/** || fork corner positions and behavior **/
.fork-corner {

    // top right controller
    &.fc-pos-tr {
        top: $default-corner-size/12;
        right: $default-corner-size/12;
        position: absolute;
        & + div {
            top: ($default-corner-size/2) - $default-corner-size;
            right: ($default-corner-size/2) - $default-corner-size;
            transform: rotate(45deg);
            position: absolute;
        }
    }

    // top right controller - sticky
    &.fc-pos-tr-sticky {
        top: $default-corner-size/12;
        right: $default-corner-size/12;
        position: fixed;
        & + div {
            top: ($default-corner-size/2) - $default-corner-size;
            right: ($default-corner-size/2) - $default-corner-size;
            transform: rotate(45deg);
            position: fixed;
        }
    }

    // top left controller
    &.fc-pos-tl {
        top: $default-corner-size/12;
        left: $default-corner-size/12;
        position: absolute;
        & + div {
            top: ($default-corner-size/2) - $default-corner-size;
            left: ($default-corner-size/2) - $default-corner-size;
            transform: rotate(45deg);
            position: absolute;
        }
    }

    // top left controller - sticky
    &.fc-pos-tl-sticky {
        top: $default-corner-size/12;
        left: $default-corner-size/12;
        position: fixed;
        & + div {
            top: ($default-corner-size/2) - $default-corner-size;
            left: ($default-corner-size/2) - $default-corner-size;
            transform: rotate(45deg);
            position: fixed;
        }
    }

    // bottom right controller
    &.fc-pos-br {
        bottom: $default-corner-size/12;
        right: $default-corner-size/12;
        position: fixed;
        & + div {
            bottom: ($default-corner-size/2) - $default-corner-size;
            right: ($default-corner-size/2) - $default-corner-size;
            transform: rotate(45deg);
            position: fixed;
        }
    }

    // bottom left controller
    &.fc-pos-bl {
        bottom: $default-corner-size/12;
        left: $default-corner-size/12;
        position: fixed;
        & + div {
            bottom: ($default-corner-size/2) - $default-corner-size;
            left: ($default-corner-size/2) - $default-corner-size;
            transform: rotate(45deg);
            position: fixed;
        }
    }
}

/** || fork corner animations **/
.fork-corner {
    &.fc-pos-tr,
    &.fc-pos-tr-sticky,
    &.fc-pos-br {
        // rotate to right
        &.fc-animate {
            transition: 0.5s;
            &:hover {
                transform: rotate(45deg);
                transition: 0.5s;
            }
        }
    }
    &.fc-pos-tl,
    &.fc-pos-tl-sticky,
    &.fc-pos-bl {
        // rotate to left
        &.fc-animate {
            transition: 0.5s;
            &:hover {
                transform: rotate(-45deg);
                transition: 0.5s;
            }
        }
    }
    &.fc-pos-tr,
    &.fc-pos-tr-sticky,
    &.fc-pos-tl,
    &.fc-pos-tl-sticky,
    &.fc-pos-br,
    &.fc-pos-bl {
        // slide up
        &.fc-animate-slideup {
            transition: 0.3s;
            transform: translate3d(0, 0, 0);
            &:hover {
                transform: translate3d(0, -10%, 0);
                visibility: visible;
                transition: 0.3s;
            }
        }
        // slide down
        &.fc-animate-slidedown {
            transition: 0.3s;
            transform: translate3d(0, 0, 0);
            &:hover {
                transform: translate3d(0, 10%, 0);
                visibility: visible;
                transition: 0.3s;
            }
        }
        // grow
        &.fc-animate-grow {
            transition: 0.5s;
            &:hover {
                transform: scale(1.2);
                visibility: visible;
                transition: 0.5s;
            }
        }
        // shrink
        &.fc-animate-shrink {
            transition: 0.5s;
            &:hover {
                transform: scale(0.8);
                visibility: visible;
                transition: 0.5s;
            }
        }
        // fade
        &.fc-animate-fade {
            transition: 0.5s;
            &:hover {
                opacity: 0.5;
                transition: 0.5s;
            }
        }
    }
}

/** || fork corner themes **/
.fork-corner {
    // default git theme and icon
    &.fc-theme-git {
        text-decoration: none;
        > i {
            font-size: $default-corner-size/4;
            color: $default-icon-color;
        }
        & + div {
            background-color: $default-bg-color;
        }
    }
    // github theme and icon
    &.fc-theme-github {
        text-decoration: none;
        > i {
            font-size: $default-corner-size/4;
            color: $github-icon-color;
        }
        & + div {
            background-color: $github-bg-color;
        }
    }
    // gitlab theme and icon
    &.fc-theme-gitlab {
        text-decoration: none;
        > i {
            font-size: $default-corner-size/4;
            color: $gitlab-icon-color;
        }
        & + div {
            background-color: $gitlab-bg-color;
        }
    }
    // bitbucket theme and icon
    &.fc-theme-bitbucket {
        text-decoration: none;
        > i {
            font-size: $default-corner-size/4;
            color: $bitbucket-icon-color;
        }
        & + div {
            background-color: $bitbucket-bg-color;
        }
    }
}