html, body {
    overflow-x: hidden;
}

body {
    touch-action: pan-y;
}

#fork-corner {
    z-index: 105;
    position: absolute;
}

.fork-corner + div {
    position: absolute;
    width: $corner-size;
    height: $corner-size;
    z-index: 100;
}

.fork-corner {
    // top right controller
    &.fc-pos-tr {
        top: $corner-size/12;
        right: $corner-size/12;

        &.fc-animate-default {
            transition: 0.5s;
            &:hover {
                transform: rotate(45deg);
                transition: 0.5s;
            }
        }
    }
    // top right element
    &.fc-pos-tr + div {
        top: ($corner-size/2) - $corner-size;
        right: ($corner-size/2) - $corner-size;
        transform: rotate(45deg);
    }
    // top left controller
    &.fc-pos-tl {
        top: $corner-size/12;
        left: $corner-size/12;

        &.fc-animate-default {
            transition: 0.5s;
            &:hover {
                transform: rotate(-45deg);
                transition: 0.5s;
            }
        }
    }
    // top left element
    &.fc-pos-tl + div {
        top: ($corner-size/2) - $corner-size;
        left: ($corner-size/2) - $corner-size;
        transform: rotate(45deg);
    }
}

// default theme
.fork-corner {
    &.fc-theme-default {
        text-decoration: none;
        > i {
            font-size: $corner-size/4;
            color: $default-icon-color;
        }
    }
    &.fc-theme-default + div {
        background-color: $default-bg-color;
    }
}

// github theme
.fork-corner {
    &.fc-theme-github {
        text-decoration: none;
        > i {
            font-size: $corner-size/4;
            color: $github-icon-color;
        }
    }
    &.fc-theme-github + div {
        background-color: $github-bg-color;
    }
}

// gitlab theme
.fork-corner {
    &.fc-theme-gitlab {
        text-decoration: none;
        > i {
            font-size: $corner-size/4;
            color: $gitlab-icon-color;
        }
    }
    &.fc-theme-gitlab + div {
        background-color: $gitlab-bg-color;
    }
}

// bitbucket theme
.fork-corner {
    &.fc-theme-bitbucket {
        text-decoration: none;
        > i {
            font-size: $corner-size/4;
            color: $bitbucket-icon-color;
        }
    }
    &.fc-theme-bitbucket + div {
        background-color: $bitbucket-bg-color;
    }
}
